

html
{
    background: url(../img/martin-puttout-2.jpg);
        background-position: 0;
        background-size: cover;
}

body
{
    margin: 0 auto;
    padding: 0;
    background: url(../img/martin-puttout-2.jpg) 0 0 no-repeat;
    background-size: cover;
}


h2
{
    font-weight: 100;
    font-size: 3em;
}

.story p
{
    font-weight: 300;
}

ul#nav
{
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 9999;
}

ul#nav li
{
    list-style: none;
    display: inline-block;
}

ul#nav li a
{
    margin: 0;
    padding: 20px;
    background: #EEE;
    border-radius: 5px;
}

.float-left
{
    float: left;
    margin: 0 0 0 20px;
}

.float-right
{
    float: right;
    margin: 0 20px 0 0;
}

#header, #intro, #second, #third, #fifth
{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

#intro
{
    color: white;
    height: 300px;
    margin: 0 auto;
    padding: 0;
    text-align: right;
}

#second
{
    color: white;
    min-height: 400px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    text-align: right;
}


.shadow
{
    box-shadow: 0px 5px 10px rgba(0,0,0,.4);
}

#third
{
    color: white;
    height: 30%;
    padding: 100px 0 0 0;
}

#fifth
{
    color: #CCC;
    height: 30%;
    margin: 0 auto;
    padding: 100px 0 0 0;
}

.footer
{
    font-size: .9em;
    font-weight: 700;
}

.story
{
    margin: 0 auto;
    overflow: auto;
}

.story .float-left, .story .float-right
{
    padding: 100px 0 0 0;
    position: relative;
    width: 400px;
}

#header_wrap
{
    position: fixed;
    height: 62px;
    width: 100%;
    background: #000;
    z-index: 999;
}

#header
{
    width: 940px;
    margin: 0 auto;
    height: 62px;
    padding: 0;
}

.logo
{
    padding: 0;
    width: 237px;
    height: 62px;
    margin: 10px 0 0 0;
    float: left;
}
